.profile-wrapper{
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container{
    border: 2px solid  var(--video-library-primary-color);
    background-color: var(--button-bg-color-primary);
    box-shadow:  rgba(0,0,0,.35) 0px 5px 15px;
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.profile-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile-title{
    font-size: 3vw;
    color: var(--video-library-primary-color);
}
.profile-name-container{
    width: 90%;
    height: 2rem;
    font-size: large;
   text-align: center;
   border: 2px solid var(--clr-page-bg);
}
.logout-button{
    cursor: pointer;
}
@media(max-width : 800px) {
    .profile-wrapper{
        min-height: 70vh;
    }

    .profile-container{
        width: 60%;
        min-height: 60vh;
    }
}

@media(max-width : 360px) {
    .profile-wrapper{
        min-height: 70vh;
    }

    .profile-container{
        width: 95%;
        min-height: 60vh;
    }
    .profile-title{
        font-size: 2rem;
    }
}