.header {
    color: #F40075;
    border-bottom: 2px solid #F40075 ;
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-title {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 3vw; 
    cursor: pointer; 
    margin-left: 2rem; 

}
.brand-title img{
    height: 3rem;
    width: 3rem;
}
.searchbar-container{
    width: 30%;
    height: 2.5rem;
    border: 2px solid #F40075;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-input{
    width: 100%;
    padding-left: 3px;
    border: none ;
    outline: none;
    overflow-y: hidden;
}
.search-icon{
    cursor: pointer;
    position: absolute;
    right: 0;
}
.login-button {
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background: var(--quiz-color-primary);
    color: var(--quiz-color-secondary);
    cursor: pointer;
}
@media(max-width : 800px) {

    .brand-title {
        font-size: 10vw;
        /* margin-left: 1rem; */
    }
  
    .brand-title img{
        height: 1.5rem;
        width: 1.5rem;
    }
    .searchbar-container{
        width: 100%;
    }

}

@media(max-width : 360px) {

    .header{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .brand-title {
             margin-left: -6rem;
            display: flex; 
            align-items: center;
    }
   
    .brand-title img{
        height: 2.5rem;
        width: 2.5rem;
 
    }
    .login-button{
        position: fixed;
        top: 8px;
        right: 0;
    }
}