.homepage-container{
   padding-top: 1rem;
   padding-bottom: 1rem;
    display: flex;
    min-height: 100vh;
    background-color: #b1eeef47;
}

.video-card-container{
    color: black;
    width: 85%;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
} 

@media(max-width : 800px) {
    .wrapper{
        justify-content: space-between;
    }

}

@media(max-width : 360px) {
    .wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }
  
}